<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.github.firenox89.shinobooru">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true"/>

    <application
        android:name=".app.Shinobooru"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".ui.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.thumbnail.ThumbnailActivity"
            android:label="@string/title_activity_thumbnail"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".ui.post.PostPagerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_view_pager"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name=".ui.SyncActivity"
            android:label="@string/title_activity_sync"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"/>
        <activity
            android:name=".ui.GoogleSignInActivity"
            android:theme="@style/Theme.AppCompat"/>
        <service
            android:name=".service.ShinoboorusWallpaperService"
            android:enabled="true"
            android:label="Shinobooru"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper"/>
        </service>
    </application>

</manifest>